* {
    margin: o;
    padding:0;
    box-sizing: border-box;
}

body {
    
    font-family: 'Roboto', sans-serif;
    height: 2592px;
    width: 1440px;
       
}

ul{
    list-style-type: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

address {
    font-style: normal;
}

a {
    text-decoration: none;
}

button {
    font-family: inherit;
    outline: none;
    border: unset;
    cursor: pointer;
}

:root {
    --iris: #4d5ae5;
    --navyblue: #2e2f42;
    --black: black;
    --ocean: #404bbf;
    --white: #ffffff;
    --slate: #434455;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --green: #31d0aa;
    --lightslate: #8e8f99;
    --navybluemodal: #2e2f42;
    --grey: #2e2f42;
    --dairy: #fcfcfc;
}

.iris {
    color: var(--iris);
}

.nav-logo {
    color: var(--navyblue);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    line-height: 1.125em;
    white-space: nowrap;   
}

.nav-link {
    color: var(--navyblue);
    line-height: 1.5em;      
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.32px;
}

.nav-link:hover,
.address-link:hover {
    color: var(--ocean);
}

.address-link {
    color: var(--slate);
    line-height: 1.5em;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;     
    letter-spacing: 0.32px;
   }

.section-hero {
    background-color: var(--navyblue);
    height: 600;
    width: 1440 100%;
    flex-shrink: 0;
    align-items:center;
    display: block;
    flex-direction: column;
    margin-bottom: 4.8rem;
   
}

.hero-title {
    text-align: center;
    color: var(--white);
    font size: 56px;
    line height: 1.07em;
    flex-shrink: 0;
    font-weight: 700;
    letter-spacing: 0.112rem;
    margin-bottom: 4.8rem;
    padding 188px 472px 292px 472px;
    justify-content: center;
    margin: 0;
    height: 120px;
}      

.hero-button {
    font-weight: 500;
    color: var(--white);
    font-size: 16px;
    line-height: 1.5em;
    border-radius: 4px;
    background-color: var(--iris);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    display: inline-block;
    padding: 16px 32px;
    /* align-items: flex-start; */
    /* gap: 10px; */
   
}

.hero-button:hover {
    border-radius: 4px;
    background: var(--ocean);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.features-item-title {
    font-size: 20px;
    font-style: normal;
    line height: 1.25em;
    letter-spacing: 0.4px;
    color: var(--navyblue);
}

.features-item-description {
    font-size: 16px;
    font-style: normal;
    line-height: 1.5em;
    color: var(--slate);
    letter-spacing: 0.32px;
}

.services-title {
    font size: 36px;
    text-align: center;
    line height: 2.25em;
    color: var(--navyblue);
    text-transform: capitalize;
}

.services-item-image {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    width: 360px;
    height: 300px;
    border: 1px solid var(--cornflower);
    background: url(<path-to-image>), lightgray -72.845px -19px / 144.444% 112.667% no-repeat;

}

.team-title {
    font size: 36px;
    font-style: normal;
    text-align: center;
    text-transform: capitalize;
    line height: 2.25em;
    color: var(--navyblue);
    letter-spacing: 0.72px;
}

.team-item-name {
    font size: 20px;
    font-style: normal;
    text-align: center;
    line height: 1.5em;
    color: var(--navyblue);
    letter-spacing: 0.4px;
}

.team-item-position {
    font size: 16px;
    font-style: normal;
    text-align: center;
    line height: 1.5em;
    color: var(--slate);
    letter-spacing: 0.32px;
}

.team-item-image {
    display: inline-flex;
    padding-bottom: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    border-radius: 0px 0px 4px 4px;
    background: var(--white);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.footer-description {
    font size: 16px;
    font-style: normal;
    width: 264px;
    line height: 1.5em;
    color: var(--cloud);
    letter-spacing: 0.32px;
}

.footer {
    background-color: var(--navyblue);
    height: 312;
    width: 1440;
}

.footer-logo {
    display: inline-flex;
    width: 71px;
    height: 21px;
    color: var(--cloud);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.125em;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}
    
.filter-button {    
    padding: 12px 24px;    
    border-radius: 4px;
    border: 1px solid var(--cornflower);
    background-color: var(--cloud);
    color: var(--iris);    
    font-family: 'roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.64px;
}

.filter-button:hover {
    background: var(--ocean);
    color: var(--white);
    border-color: var(--ocean);
    box-shadow: 
    0px 2px 2px 0px rgba(0, 0, 0, 0.12), 
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 
    0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.project-item-name {
    color: var(--navyblue); 
    font-size: 20px;
    font-style: normal;
    line-height: 1.25em;
    letter-spacing: 0.4px;
}

.project-item-type {
    color: var(--slate);
    font-size: 16px;
    font-style: normal;
    line-height: 1em;
    letter-spacing: 0.32px;
}

.project-item-image {
    width: 360px;
    height: 300px;
    flex-shrink: 0;
    background: url(<path-to-image>), lightgray -25.026px 0px / 125% 100% no-repeat;

}

.header {
    align-items: center;
    background-color: #ffffff;
    border: solid 0.1rem #e7e9fc;
    box-sizing: border-box;
    height: 72px;
    width: 1440px;
    display: inline-flex;
    flex-direction: row;
    flex-shrink: 0;
  
}

.nav {
    display: flex;

    
} 
.nav-logo {
    align-items:center;
    display: flex;
    flex-shrink:0;
    height:calc(100% - 0.3rem);
    margin-left: 156px;
}


.nav-list {
   
    display: flex;
    flex-shrink: 0;
    height: 100%;
    margin-left: 76px;
    gap: 40px;
    }

.address-list {
    display: flex;
    /* margin: 24px 327px 24px 940px; */
    /* margin-right: 156px; */
    /* margin right: 156px; */
    gap: 40px;
    
   
}

/* .address-item-email {
    flex-shrink: 0;
     */
} 
/* .address-item-tel {
    /* flex-shrink: 0; */
    margin-right: 4rem;
} */

.container-features: {
    width: 1128px;
    height: 104px;
    flex-shrink: 0;
}

.features-item-title {
    text-align: center;
}

.section-hero,
.section-features,
.section-services,
.section-team {
    padding: 120px 0px;

}

.container header {
    width: 1440px;
    height:600px;
}




        











    
    


